* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
  font-size: 16px;
  line-height: 24px;
  color: #474744;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

li {
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

button {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}

section {
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #ffffff;
  margin: 40px auto;
}

/* Main content section */

.main-content-sections {
  padding: 80px 60px 80px 80px;
  flex-grow: 2;
}

.main-content-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #474744;
  margin-bottom: 10px;
}

/* About my section */
.about-my-sections {
  margin: 0 0 40px 0;
}

.about-my-profession {
  font-weight: 700;
  color: #474744;
  font-weight: 700;
  line-height: 17px;
  margin: 0 0 20px 0;
}

.about-my-name {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  margin: 0 0 15px 0;
  color: #474744;
}

.about-my-text {
  color: #595959;
  width: 650px;
}

/* My projects section */
.my-projects-section {
  margin-bottom: 40px;
}

.my-projects-list {
  padding: 0 0 0 16px;
  list-style: circle;
}

.my-projects-item {
  font-weight: 700;
  color: #cc811e;
}
.my-projects-item:not(:last-child) {
  margin-bottom: 7px;
}

.my-projects-item span {
  font-weight: 400;
  color: #a19b97;
}

.my-projects-item p {
  font-weight: 400;
  color: #595959;
}

.my-projects-link {
  display: inline-block;
  margin-right: 5px;
  text-decoration-line: underline;
  color: #4e4e48;
}

.my-projects-bracket {
  font-weight: 700;
  color: #000000;
}

.my-projects-text {
  color: #595959;
  margin-left: 5px;
}

.my-work-experience-sections {
  margin-bottom: 40px;
}

.my-experience-company {
  margin-bottom: 10px;
}

.my-experience-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
}

.my-experience-period {
  color: #a19b97;
  font-size: 12px;
  line-height: 15px;
}

.my-experience-list {
  padding-left: 17px;
  list-style: circle;
}

.my-experience-item {
  color: #cc811e;
}

.my-experience-item > span {
  color: #595959;
}
.text-accent {
  color: #cc811e;
}

.second-content-title {
  color: #cc811e;
  margin: 0 0 5px 0;
}

.my-management-education {
  margin: 0 0 5px 0;
  line-height: 1.2;
  font-size: 13px;
}

.my-education-last {
  margin-bottom: 15px;
}
/* Sidebar section */

.sidebar-sections {
  background-color: #dad8d0;
  width: 360px;
  padding: 60px 0;
}

.sidebar-sections-skills {
  padding-left: 40px;
}

.contacts-section,
.tech-skills-section {
  margin: 0 0 40px 0;
}

.sidebar-title {
  color: #474744;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

/* Contacts section */
.contacts-section-link {
  color: #4e4e48;
}

.contacts-section-link:hover {
  color: #111110;
}

.contacts-section-list {
  padding: 0;
}

.contacts-section-item {
  list-style: none;
}
/* Tech slills section */
.tech-skills-list,
.soft-skills-list {
  padding-left: 20px;
  color: #cc811e;
  list-style: circle;
}

.soft-skills-text,
.tech-skills-text {
  color: #474744;
}
